<!-- <div style="text-align:center">
<h1>
  Estoque de medicamentos
  </h1>

</div>
<app-medicamento></app-medicamento> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
<nav>
  <nav class="blue darken-4">

    <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Estoque SUS</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/medicamento">Medicamentos</a></li>
      <li><a routerLink="/disponibilidade">Disponibilidade</a></li>
    </ul>
  </div>
</nav>
  </nav>
  

<!-- <nav>
  <a routerLink="disponibilidade">Disponibilidade</a>
</nav> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
